.banner {
  display: flex;
  flex-direction: column;
  gap: 94px;
  position: relative;
  width: 100%;

  background-image: url('../../../public/imgs/banner-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 48px 32px 32px 32px;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-suptitle {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: $c2B;
    }

    &-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: #151515;
    }
  }
}