.header {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mq(375){
      gap: 20px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 16px;

    @include mq(665) {
      flex-direction: column;
    }

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    &-left {
      display: flex;
      align-items: center;
      gap: 33px;

      @include mq(435) {
        flex-direction: column;
        gap: 13px;
      }
    }

    &-link {
      color: $c2B;
    }

    &-nav {
      display: flex;
      align-items: center;
      gap: 38px;

      &>a {
        color: $c2B;
      }
    }
  }

  &__present {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @include mq(665) {
      flex-direction: column;
    }

    @include mq(375) {
      flex-direction: row;
    }

    &-logo {
      width: 100%;
      max-width: 175px;
      cursor: pointer;
    }

    &-search {
      display: flex;
      align-items: center;
      gap: 48px;
      padding: 10px 16px;
      background: #F9F9F9;
      border: 1px solid #D1D1D1;
      border-radius: 12px;
      width: 100%;
      max-width: 500px;

      @include mq(375) {
        display: none;
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    &-cart {
      position: relative;
      cursor: pointer;

      &-count {
        position: absolute;
        display: block;

        background: #E6704B;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 12px;

        font-weight: 600;
        font-size: 12px;
        color: #fff;

        top: 14px;
        right: 14px;
        padding: 2px 4px;
      }
    }
  }

  &__search {
    &-select {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: 130px;
      // gap: 24px;
    }

    &-input {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;

      &>input {
        display: block;
        width: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        &::placeholder {
          color: $c1C;
        }

        color: #151515;
      }

      // width: 100%;
    }
  }

  &__select {
    &-top {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      font-weight: 700;
      font-size: 15px;
      line-height: 22px;

      color: #151515;
    }

    &-carrot {
      width: 16px;
      height: 16px;
    }
  }

  &__categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    @include mq(665) {
      align-items: center;
      justify-content: center;
      gap: 20px 40px;
    }

    @include mq(475) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 2px;

      cursor: pointer;

      font-weight: 500;
      font-size: 15px;
      line-height: 22px;

      color: #151515;
    }
  }
}