body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  height: inherit;
  max-width: $cmw;
  margin: 0 auto;
  padding: 0 15px;
}

#root,
.App {
  height: inherit;
}