// TEXT
$textColor:#000;
$bgColor:#fff;

// SETTINGS
$cmw:1200px;

// colors
$c1H:rgba(249, 249, 249, 1);
$c1B:rgba(87, 87, 87, 1);
$c1C:rgba(169, 169, 169, 1);
$c1D:rgba(209, 209, 209, 1);
$c1E:rgba(235, 235, 235, 1);
$c1F:rgba(245, 245, 245, 1);

$c2E:rgba(244, 248, 236, 1);
$c2B:rgba(70, 118, 10, 1);
$c2C:rgba(146, 192, 100, 1);
$c2D:rgba(200, 222, 179, 1);
$c2E:rgba(244, 248, 236, 1);

$c3A:rgba(208, 168, 102, 1);
$c3B:rgba(178, 138, 72, 1);
$c3C:rgba(236, 210, 166, 1);
$c3D:rgba(250, 237, 216, 1);
